In [5]:
#dependecies
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import requests
from census import Census
import censusdata
import uszipcode
import csv
import json
import gmaps

#import csv file to narrow data search
collegeR = "./resources_Brendan/collegeRanksCSV.csv"

# Census API Key
from goober import api_key
from goober import gkey
c = Census(api_key, year=2010)

In [ ]:
uszipcode = pd.read_

In [2]:
ranking = pd.read_csv(collegeR)
print(ranking)

                    SCHOOL  2008  2009  2010  2011  2012  2013  2014  2015  \
0                Princeton     1     2     1     2     1     1     1     1
1                  Harvard     2     1     1     1     1     1     2     2
2                     Yale     3     3     3     3     3     3     3     3
3                 Stanford     4     4     4     5     5     6     5     4
4                 Columbia     9     8     8     4     4     4     4     4
5                      MIT     7     4     4     7     5     6     7     7
6                     Penn     5     6     4     5     5     8     7     8
7                  Chicago     9     8     8     9     5     4     5     4
8                  Caltech     5     6     4     7     5    10    10    10
9                     Duke     8     8    10     9    10     8     7     8
10               Dartmouth    11    11    11     9    11    10    10    11
11            Northwestern    14    12    12    12    12    12    12    13
12         Washington Univ    12    12    12    13    14    14    14    14
13           Johns Hopkins    14    15    14    13    13    13    12    12
14                 Cornell    12    14    15    15    15    15    16    15
15                   Brown    14    16    16    15    15    15    14    16
16              Vanderbilt    19    18    17    17    17    17    17    16
17                    Rice    17    17    17    17    17    17    18    19
18              Notre Dame    19    18    20    19    19    17    18    16
19                   Emory    17    18    17    20    20    20    20    21
20             UC Berkeley    21    21    21    22    21    21    20    20
21              Georgetown    23    23    23    21    22    21    20    21
22         Carnegie Mellon    22    22    22    23    23    23    23    25
23                Virginia    23    23    24    25    25    24    23    23
24                    UCLA    25    25    24    25    25    24    23    23
25                     USC    27    27    26    23    23    24    23    25
26             Wake Forest    30    28    28    25    25    27    23    27
27                Michigan    25    26    27    29    28    29    28    29
28                   Tufts    28    28    28    28    29    28    28    27
29          North Carolina    28    30    28    30    29    30    30    30
..                     ...   ...   ...   ...   ...   ...   ...   ...   ...
95   Massachusetts Amherst    96   102   106    99    94    97    91    76
96                Missouri    91    96   102    94    90    97    97    99
97                NC State    85    83    88   111   101   106   101    95
98                     TCU   108   113   110    99    97    92    82    76
99                Nebraska    91    89    96   104   101   101   101    99
100                 Kansas    85    89    96   104   101   106   101   106
101              San Diego   107   102   110    94    97    92    91    95
102           UC Riverside    96    89    96    94    97   101   112   113
103             Florida St   112   102   102   104   101    97    91    95
104              Tennessee    96   108   106   104   101   101   101   106
105          New Hampshire   108   113   110   104   101   106    97    99
106               Oklahoma   108   108   102   111   101   101   101   106
107                Pacific    96   102   115    99   101   106   112   116
108                 Dayton   112   108   110    99   101   115   112   103
109          Illinois Tech    96   102   106   111   111   113   109   116
110                 Oregon   112   108   115   111   101   115   109   106
111         South Carolina   112   108   110   111   111   115   112   113
112         Loyola Chicago   112   116   119   117   119   106   101   106
113                Arizona    96    96   102   120   124   120   119   121
114        Univ at Buffalo   118   121   121   120   111   106   109   103
115                 Howard    96   102    96   104   111   120   142   145
116               Catholic   112   116   121   120   119   120   121   116
117          Michigan Tech   124   121   121   117   111   120   117   116
118          Washington St   118   116   106   111   115   125   128   138
119               Clarkson   124   121   119   124   119   115   121   121
120              Ohio Univ   112   116   115   124   124   131   135   129
121               Kentucky   118   116   128   129   124   125   119   129
122            Colorado St   124   125   128   124   128   134   121   121
123               Arkansas   124   125   128   132   132   134   128   135
124             Arizona St   124   121   121   143   132   139   142   129

     AVG RANK  CHG 08 VS 15
0       1.250             0
1       1.375             0
2       3.000             0
3       4.625             0
4       5.625             5
5       5.875             0
6       6.000            -3
7       6.500             5
8       7.125            -5
9       8.500             0
10     10.500             0
11     12.375             1
12     13.125            -2
13     13.250             2
14     14.625            -3
15     15.125            -2
16     17.250             3
17     17.375            -2
18     18.250             3
19     19.125            -4
20     20.875             1
21     21.750             2
22     22.875            -3
23     23.750             0
24     24.250             2
25     24.750             2
26     26.625             3
27     27.625            -4
28     28.000             1
29     29.375            -2
..        ...           ...
95     95.125            20
96     95.750            -8
97     96.250           -10
98     97.125            32
99     97.750            -8
100    98.500           -21
101    98.500            12
102    99.750           -17
103   100.500            17
104   102.875           -10
105   104.750             9
106   104.750             2
107   105.875           -20
108   107.500             9
109   108.000           -20
110   109.625             6
111   111.500            -1
112   112.000             6
113   112.250           -25
114   113.625            15
115   114.500           -49
116   118.125            -4
117   118.375             8
118   119.625           -20
119   120.500             3
120   123.250           -17
121   123.500           -11
122   125.625             3
123   129.750           -11
124   131.375            -5

[125 rows x 11 columns]

In [3]:
censusdata.search('acs5', 2009, 'label', 'income',)[160:170]

[('B06010_052E',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Foreign born:!!With income:!!$35,000 to $49,999'),
 ('B06010_052M',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Margin Of Error For!!Foreign born:!!With income:!!$35,000 to $49,999'),
 ('B06010_053E',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Foreign born:!!With income:!!$50,000 to $64,999'),
 ('B06010_053M',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Margin Of Error For!!Foreign born:!!With income:!!$50,000 to $64,999'),
 ('B06010_054E',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Foreign born:!!With income:!!$65,000 to $74,999'),
 ('B06010_054M',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Margin Of Error For!!Foreign born:!!With income:!!$65,000 to $74,999'),
 ('B06010_055E',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Foreign born:!!With income:!!$75,000 or more'),
 ('B06010_055M',
  'B06010.  Place of Birth by Individual Income in the United States',
  'Margin Of Error For!!Foreign born:!!With income:!!$75,000 or more'),
 ('B07010PR_002E',
  'B07010PR.  Geographical Mobility in the Past Year by Individual Income for Current Residence in Puerto Rico',
  'No income'),
 ('B07010PR_002M',
  'B07010PR.  Geographical Mobility in the Past Year by Individual Income for Current Residence in Puerto Rico',
  'Margin Of Error For!!No income')]

In [2]:
#Using Census data 



# base url
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# run a request using our params dictionary
response = requests.get(base_url, params=params)

TypeError: 'module' object is not callable