In [6]:
#Import Libraries
import pandas as pd
import os
import csv

In [7]:
os.listdir('./Resources')

['fafsa-demographics-2006-07.csv',
 'fafsa-demographics-2007-08.csv',
 'fafsa-demographics-2008-09.csv',
 'fafsa-demographics-2009-10.csv',
 'fafsa-demographics-2010-11.csv',
 'fafsa-demographics-2011-12.csv',
 'fafsa-demographics-2012-13.csv',
 'fafsa-demographics-2013-14.csv',
 'fafsa-demographics-2014-15.csv',
 'fafsa-demographics-2015-16.csv',
 'fafsa-demographics-2016-17.csv',
 'fafsa-demographics-2017-18.csv']

In [10]:
for filename in os.listdir('./Resources'):
      demo = pd.read_csv('filename')

FileNotFoundError: File b'filename' does not exist

In [11]:
demo_06 = pd.read_csv('./Resources/fafsa-demographics-2006-07.csv')
demo_06

,Data Element and Value,Initial Application,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Final Transaction,Unnamed: 9,Unnamed: 10
0,NaN,2006,NaN,NaN,NaN,2007,NaN,Total,Total,NaN,NaN
1,NaN,Q1,Q2,Q3,Q4,Q5,Q6+,NaN,NaN,NaN,NaN
2,Total (Applicant Count),"5,137,719","3,955,290","2,730,051","1,054,763","776,840","386,661","14,041,324","14,041,324",NaN,NaN
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Female,"3,152,173","2,430,982","1,639,635","646,439","474,800","248,702","8,592,731","8,651,346",NaN,NaN
5,Male,"1,929,308","1,470,196","1,044,599","387,299","287,784","131,105","5,250,291","5,250,770",NaN,NaN
6,Blank,"56,238","54,112","45,817","21,025","14,256","6,854","198,302","139,208",NaN,NaN
7,Age,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,18 or Less,"789,687","316,012","179,089","72,225","70,139","44,620","1,471,772","1,471,739",NaN,NaN
9,19 through 24,"2,765,076","2,034,396","1,284,468","401,923","267,916","114,930","6,868,709","6,872,338",NaN,NaN
10,25 or Greater,"1,580,918","1,602,546","1,264,945","579,916","438,449","226,975","5,693,749","5,695,595",NaN,NaN
11,Age Unknown,"2,038","2,336","1,549",699,336,136,"7,094","1,652",NaN,NaN
12,Grade Entering,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"1st Year, Never Attended College Before","1,293,237","794,340","681,679","353,875","291,235","160,719","3,575,085","3,590,910",NaN,NaN
14,"1st Year, Attended College Before","515,612","661,723","604,915","284,883","211,517","101,421","2,380,071","2,438,973",NaN,NaN
15,2nd Year/Sophomore,"1,045,962","812,223","480,343","128,765","78,915","30,939","2,577,147","2,582,363",NaN,NaN
16,3rd Year/Junior,"883,906","613,870","344,220","97,977","64,232","26,254","2,030,459","2,006,115",NaN,NaN
17,4th Year/Senior,"598,446","397,876","197,631","41,143","26,019","10,176","1,271,291","1,267,570",NaN,NaN
18,5th Year/Other Undergraduate,"196,471","173,278","116,801","30,674","19,088","8,527","544,839","538,652",NaN,NaN
19,1st Year Graduate/Professional,"250,296","189,282","126,070","60,517","46,476","27,322","699,963","695,976",NaN,NaN
20,Continuing Graduate/Professional,"343,678","298,801","168,529","52,356","36,556","20,122","920,042","894,624",NaN,NaN
21,Blank,"10,111","13,897","9,863","4,573","2,802","1,181","42,427","26,141",NaN,NaN
22,Degree Pursuing,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,1st Bachelor's Degree,"3,132,599","1,829,207","990,747","303,589","213,482","94,239","6,563,863","6,570,937",NaN,NaN
24,2nd Bachelor's Degree,"43,897","39,686","26,129","11,653","7,053","3,452","131,870","129,026",NaN,NaN
25,Associate Degree (Occupational or Technical),"489,884","597,862","490,471","220,470","159,375","78,524","2,036,586","2,043,692",NaN,NaN
26,Associate Degree (General Education or Transfer),"415,287","431,298","387,765","145,204","99,515","44,756","1,523,825","1,534,858",NaN,NaN
27,Certificate or Diploma (Less than 2 Years),"122,472","264,011","280,861","152,562","143,265","82,161","1,045,332","1,068,021",NaN,NaN
28,Certificate or Diploma (At Least 2 Years),"83,230","99,303","84,732","35,460","22,298","9,588","334,611","333,486",NaN,NaN
29,Teaching Credential (Nondegree),"22,256","20,067","18,253","7,359","5,404","3,442","76,781","75,399",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
36,Both Parents Completed College or Beyond,"1,405,876","921,235","529,661","176,239","125,925","59,382","3,218,318","3,219,944",NaN,NaN
37,Pell Eligibility Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38,Pell Eligible,"1,957,283","1,622,103","1,189,348","469,006","364,208","193,659","5,795,607","6,825,386",NaN,NaN
39,Pell Ineligible,"3,180,436","2,333,187","1,540,703","585,757","412,632","193,002","8,245,717","7,215,938",NaN,NaN
40,Dependency Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
41,Dependent,"2,978,494","1,809,588","1,035,960","284,174","201,890","86,574","6,396,680","6,409,454",NaN,NaN
42,Independent,"2,159,225","2,145,702","1,694,091","770,589","574,950","300,087","7,644,644","7,631,870",NaN,NaN
43,Renewal Application Status,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
44,Original,"2,144,114","1,949,342","1,751,887","859,718","666,426","344,250","7,715,737",NaN,NaN,NaN
45,Renewal,"2,993,605","2,005,948","978,164","195,045","110,414","42,411","6,325,587",NaN,NaN,NaN
46,Source of Application/Correction,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47,FAFSA on the Web (FOTW),"4,735,446","3,336,504","2,210,899","804,588","555,789","269,157","11,912,383","9,060,251",NaN,NaN
48,Web Financial Aid Administrator (Web FAA),"74,033","179,688","207,419","87,486","88,608","45,453","682,687","1,752,209",NaN,NaN
49,Other Electronic (School Batch),"50,143","182,584","172,388","101,707","101,138","60,469","668,429","2,514,716",NaN,NaN
50,Paper FAFSA,"278,097","256,514","139,345","60,982","31,305","11,582","777,825","605,067",NaN,NaN
51,FAFSA on the Phone/FSAIC Correction,0,0,0,0,0,0,0,"109,081",NaN,NaN
52,Schools Listed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
53,Freshmen Filing Original Application: 1 School,"752,446","985,971","1,019,270","538,606","442,296","238,997","3,977,586","3,888,177",NaN,NaN
54,Freshmen Filing Original Application: 2 Schools,"198,702","95,154","51,637","27,268","16,595","7,389","396,745","498,619",NaN,NaN
55,Freshmen Filing Original Application: 3 Schools,"148,227","41,435","16,265","8,973","5,781","2,079","222,760","237,092",NaN,NaN
56,Freshmen Filing Original Application: 4 Schools,"112,971","21,022","7,079","4,668","3,403",959,"150,102","155,692",NaN,NaN
57,Freshmen Filing Original Application: 5 Schools,"84,375","11,094","3,539","2,575","1,865",416,"103,864","109,278",NaN,NaN
58,Freshmen Filing Original Application: 6 Schools,"185,018","15,565","5,130","4,518","3,262",568,"214,061","208,425",NaN,NaN
59,Not Freshmen Filing Original Application: 1 Sc...,"3,104,578","2,477,295","1,487,507","422,884","280,838","127,099","7,900,201","7,606,330",NaN,NaN
60,Not Freshmen Filing Original Application: 2 Sc...,"285,087","194,403","93,632","29,176","15,068","6,357","623,723","802,292",NaN,NaN
61,Not Freshmen Filing Original Application: 3 Sc...,"110,927","60,062","25,372","8,466","4,057","1,560","210,444","256,383",NaN,NaN
62,Not Freshmen Filing Original Application: 4 Sc...,"58,803","25,867","10,191","3,534","1,709",601,"100,705","119,980",NaN,NaN
63,Not Freshmen Filing Original Application: 5 Sc...,"34,872","12,657","4,848","1,737",846,293,"55,253","66,314",NaN,NaN
64,Not Freshmen Filing Original Application: 6 Sc...,"61,713","14,765","5,581","2,358","1,120",343,"85,880","92,742",NaN,NaN
65,Data definitions and notes available at: www.S...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
demo_06.iloc[:, 0:7]

,Data Element and Value,Initial Application,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6
0,NaN,2006,NaN,NaN,NaN,2007,NaN
1,NaN,Q1,Q2,Q3,Q4,Q5,Q6+
2,Total (Applicant Count),"5,137,719","3,955,290","2,730,051","1,054,763","776,840","386,661"
3,Gender,NaN,NaN,NaN,NaN,NaN,NaN
4,Female,"3,152,173","2,430,982","1,639,635","646,439","474,800","248,702"
5,Male,"1,929,308","1,470,196","1,044,599","387,299","287,784","131,105"
6,Blank,"56,238","54,112","45,817","21,025","14,256","6,854"
7,Age,NaN,NaN,NaN,NaN,NaN,NaN
8,18 or Less,"789,687","316,012","179,089","72,225","70,139","44,620"
9,19 through 24,"2,765,076","2,034,396","1,284,468","401,923","267,916","114,930"
10,25 or Greater,"1,580,918","1,602,546","1,264,945","579,916","438,449","226,975"
11,Age Unknown,"2,038","2,336","1,549",699,336,136
12,Grade Entering,NaN,NaN,NaN,NaN,NaN,NaN
13,"1st Year, Never Attended College Before","1,293,237","794,340","681,679","353,875","291,235","160,719"
14,"1st Year, Attended College Before","515,612","661,723","604,915","284,883","211,517","101,421"
15,2nd Year/Sophomore,"1,045,962","812,223","480,343","128,765","78,915","30,939"
16,3rd Year/Junior,"883,906","613,870","344,220","97,977","64,232","26,254"
17,4th Year/Senior,"598,446","397,876","197,631","41,143","26,019","10,176"
18,5th Year/Other Undergraduate,"196,471","173,278","116,801","30,674","19,088","8,527"
19,1st Year Graduate/Professional,"250,296","189,282","126,070","60,517","46,476","27,322"
20,Continuing Graduate/Professional,"343,678","298,801","168,529","52,356","36,556","20,122"
21,Blank,"10,111","13,897","9,863","4,573","2,802","1,181"
22,Degree Pursuing,NaN,NaN,NaN,NaN,NaN,NaN
23,1st Bachelor's Degree,"3,132,599","1,829,207","990,747","303,589","213,482","94,239"
24,2nd Bachelor's Degree,"43,897","39,686","26,129","11,653","7,053","3,452"
25,Associate Degree (Occupational or Technical),"489,884","597,862","490,471","220,470","159,375","78,524"
26,Associate Degree (General Education or Transfer),"415,287","431,298","387,765","145,204","99,515","44,756"
27,Certificate or Diploma (Less than 2 Years),"122,472","264,011","280,861","152,562","143,265","82,161"
28,Certificate or Diploma (At Least 2 Years),"83,230","99,303","84,732","35,460","22,298","9,588"
29,Teaching Credential (Nondegree),"22,256","20,067","18,253","7,359","5,404","3,442"
...,...,...,...,...,...,...,...
36,Both Parents Completed College or Beyond,"1,405,876","921,235","529,661","176,239","125,925","59,382"
37,Pell Eligibility Status,NaN,NaN,NaN,NaN,NaN,NaN
38,Pell Eligible,"1,957,283","1,622,103","1,189,348","469,006","364,208","193,659"
39,Pell Ineligible,"3,180,436","2,333,187","1,540,703","585,757","412,632","193,002"
40,Dependency Status,NaN,NaN,NaN,NaN,NaN,NaN
41,Dependent,"2,978,494","1,809,588","1,035,960","284,174","201,890","86,574"
42,Independent,"2,159,225","2,145,702","1,694,091","770,589","574,950","300,087"
43,Renewal Application Status,NaN,NaN,NaN,NaN,NaN,NaN
44,Original,"2,144,114","1,949,342","1,751,887","859,718","666,426","344,250"
45,Renewal,"2,993,605","2,005,948","978,164","195,045","110,414","42,411"
46,Source of Application/Correction,NaN,NaN,NaN,NaN,NaN,NaN
47,FAFSA on the Web (FOTW),"4,735,446","3,336,504","2,210,899","804,588","555,789","269,157"
48,Web Financial Aid Administrator (Web FAA),"74,033","179,688","207,419","87,486","88,608","45,453"
49,Other Electronic (School Batch),"50,143","182,584","172,388","101,707","101,138","60,469"
50,Paper FAFSA,"278,097","256,514","139,345","60,982","31,305","11,582"
51,FAFSA on the Phone/FSAIC Correction,0,0,0,0,0,0
52,Schools Listed,NaN,NaN,NaN,NaN,NaN,NaN
53,Freshmen Filing Original Application: 1 School,"752,446","985,971","1,019,270","538,606","442,296","238,997"
54,Freshmen Filing Original Application: 2 Schools,"198,702","95,154","51,637","27,268","16,595","7,389"
55,Freshmen Filing Original Application: 3 Schools,"148,227","41,435","16,265","8,973","5,781","2,079"
56,Freshmen Filing Original Application: 4 Schools,"112,971","21,022","7,079","4,668","3,403",959
57,Freshmen Filing Original Application: 5 Schools,"84,375","11,094","3,539","2,575","1,865",416
58,Freshmen Filing Original Application: 6 Schools,"185,018","15,565","5,130","4,518","3,262",568
59,Not Freshmen Filing Original Application: 1 Sc...,"3,104,578","2,477,295","1,487,507","422,884","280,838","127,099"
60,Not Freshmen Filing Original Application: 2 Sc...,"285,087","194,403","93,632","29,176","15,068","6,357"
61,Not Freshmen Filing Original Application: 3 Sc...,"110,927","60,062","25,372","8,466","4,057","1,560"
62,Not Freshmen Filing Original Application: 4 Sc...,"58,803","25,867","10,191","3,534","1,709",601
63,Not Freshmen Filing Original Application: 5 Sc...,"34,872","12,657","4,848","1,737",846,293
64,Not Freshmen Filing Original Application: 6 Sc...,"61,713","14,765","5,581","2,358","1,120",343
65,Data definitions and notes available at: www.S...,NaN,NaN,NaN,NaN,NaN,NaN

In [20]:
demo_06_transposed = demo_06.T
demo_06_transposed

,0,1,2,3,4,5,6,7,8,9,...,56,57,58,59,60,61,62,63,64,65
Data Element and Value,NaN,NaN,Total (Applicant Count),Gender,Female,Male,Blank,Age,18 or Less,19 through 24,...,Freshmen Filing Original Application: 4 Schools,Freshmen Filing Original Application: 5 Schools,Freshmen Filing Original Application: 6 Schools,Not Freshmen Filing Original Application: 1 Sc...,Not Freshmen Filing Original Application: 2 Sc...,Not Freshmen Filing Original Application: 3 Sc...,Not Freshmen Filing Original Application: 4 Sc...,Not Freshmen Filing Original Application: 5 Sc...,Not Freshmen Filing Original Application: 6 Sc...,Data definitions and notes available at: www.S...
Initial Application,2006,Q1,"5,137,719",NaN,"3,152,173","1,929,308","56,238",NaN,"789,687","2,765,076",...,"112,971","84,375","185,018","3,104,578","285,087","110,927","58,803","34,872","61,713",NaN
Unnamed: 2,NaN,Q2,"3,955,290",NaN,"2,430,982","1,470,196","54,112",NaN,"316,012","2,034,396",...,"21,022","11,094","15,565","2,477,295","194,403","60,062","25,867","12,657","14,765",NaN
Unnamed: 3,NaN,Q3,"2,730,051",NaN,"1,639,635","1,044,599","45,817",NaN,"179,089","1,284,468",...,"7,079","3,539","5,130","1,487,507","93,632","25,372","10,191","4,848","5,581",NaN
Unnamed: 4,NaN,Q4,"1,054,763",NaN,"646,439","387,299","21,025",NaN,"72,225","401,923",...,"4,668","2,575","4,518","422,884","29,176","8,466","3,534","1,737","2,358",NaN
Unnamed: 5,2007,Q5,"776,840",NaN,"474,800","287,784","14,256",NaN,"70,139","267,916",...,"3,403","1,865","3,262","280,838","15,068","4,057","1,709",846,"1,120",NaN
Unnamed: 6,NaN,Q6+,"386,661",NaN,"248,702","131,105","6,854",NaN,"44,620","114,930",...,959,416,568,"127,099","6,357","1,560",601,293,343,NaN
Unnamed: 7,Total,NaN,"14,041,324",NaN,"8,592,731","5,250,291","198,302",NaN,"1,471,772","6,868,709",...,"150,102","103,864","214,061","7,900,201","623,723","210,444","100,705","55,253","85,880",NaN
Final Transaction,Total,NaN,"14,041,324",NaN,"8,651,346","5,250,770","139,208",NaN,"1,471,739","6,872,338",...,"155,692","109,278","208,425","7,606,330","802,292","256,383","119,980","66,314","92,742",NaN
Unnamed: 9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Unnamed: 10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN